/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lato-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./assets/fonts/lato-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/lato-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/lato-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/lato-v15-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/lato-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('./assets/fonts/lato-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/lato-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/lato-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/lato-v15-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

html{
    
}

body{
    /*font-family: Arial;*/
    margin: 0;
    color: #595959; 
}

h1{
    margin: 0px;
}

input:nth-of-type(5){
    text-transform: uppercase;
}

#header{
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
}

#banner{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

#logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.infoSec{
    background:  #efefff;
    padding: 70px 110px;

}

.row .infoCol{
    padding: 50px;
}

.infoText{
    line-height: 2.0;
    font-family: Lato;
}

.infoForm{
    display: block;
    text-align: center;
}

.formPart{
    display: block;
    margin: 25px 0px;
    width: 100%;
}

.botCont{
    text-align: center;
    padding: 150px 0px;
}

.staffSec{
    padding-top: 50px;
    padding-bottom: 100px;
}

.staffImg{
    border-bottom: black 2px solid;
}

.staffName{
    padding-top: 30px;
}

.staffTitle{
    padding-top: 10px;
    font-size: 30px;
}

@media screen and (min-width: 1440px){
    #banner{
        width: 100%;
    }
}

@media screen and (min-width: 1300px){
    .botCont{
        max-width: 1170px;
    }
}

@media screen and (max-width: 1300px){
    .botCont{
        max-width: 900px;
    }
}

@media screen and (max-width: 1000px){
    .botCont{
        max-width: 700px;
    }
}

@media screen and (max-width: 800px){
    #banner{
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}