html{
    
}

body{
    margin: 0;
    color: #595959; 
}

input[type = text]{
    display: block;
    margin: 25px 0px;
    width: 100%;
}

#header{
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
}

#banner{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

#logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.infoSec{
    background:  #efefff;
    padding: 70px 110px;

}

.infoSec .textSec{
    padding: 25px;
}

.formSec{
    display: block;
    text-align: center;
}

@media only screen and (min-width: 1440px){
    #banner{
        width: 100%;
    }
}

@media only screen and (max-width: 800px){
    #banner{
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}